<div class="main" style="background-color: #e2e8f0;height: 100%;">

    <div class="header" style="background-color: #2c5282;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9;">
        <h3 style="color: white;font-size: 150%;font-weight: 500;margin-top: 1%;">User Database</h3>
    </div>
 <br>
<div>
    
   <h4 (click)="open()" id="initial" style="color: #bd2130;
   text-align: center;
   margin-top: 3%;" >Please Click here to access Database</h4> 

</div>
<router-outlet></router-outlet>

   
    
    <div class="footer" style="background-color: #2c5282;text-align: center;position: fixed;bottom: 0;left: 0;width: 100%;">
      <div class="row" style="width: 100%;">
        <div class="col-sm-4">
            <label style="color: white;text-align: left;margin-top: 1%;">-By MD AHTESHAM</label>
            </div>
            <div class="col-sm-4">
            <h6 style="color: white;font-size: 120%;font-weight: 500;margin-top: 1%;" >Test Challage-2020</h6>
            </div>
            <div class="col-sm-4" style="margin-top: 0.5%;">
            <a href="https://ahteshamaziz.github.io/findAhtesham/" style="color: white;">My Portfolio</a>
            </div>
      </div>


    </div>

</div>

